/*Especificaciones body*/
* {
    box-sizing: border-box;
}

.body-index {
    background-color: rgb(49, 57, 64);
    margin: 0px;
}

.body-generos {
    background-color: rgb(49, 57, 64);
    margin: 0px;
}
/*Comienzo del header*/

.header-index {
    background-color: rgb(40, 46, 51);
    padding: 15px;
}

.menu-index {
   display: flex;
   justify-content: left;
   height: 100px;
   width: 100%;
   margin: 0px;

}


.ul-header-index, .a-header-index, .li-header-index{
    text-decoration: none;
    color: white;
    font-family: 'Urbanist', sans-serif;
    list-style: none;
    margin: 50px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    
}

.formulario-busqueda {
    display: inline;
}


.nav-logo img{
max-height: 100px;
max-width: 200px;
}



/*Comienza el main*/

.h2-titulos {
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    color: rgb(255, 255, 255);
}


.listados {
    display: flex inline;
    padding: 16px;
}

.portadas{
width: 150px;
height: 200px;
}

.h1-generos {
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    color: rgb(255, 255, 255);
    text-align: center;
}

.titulos-peliculas {
    font-family: 'Urbanist', sans-serif;
    color: white;
}

.generos-texto {
    font-family: 'Urbanist', sans-serif;
    color: white;
}


.estreno-texto {
    font-family: 'Urbanist', sans-serif;
    color: white;
}

.lista-cartelera {
    display: flex;
    justify-content: space-evenly;
}