/* css de index */
/*Especificaciones body*/
* {
    box-sizing: border-box;
}

.body-index {
    background-color: rgb(49, 57, 64);
    margin: 0px;
}

.body-generos {
    background-color: rgb(49, 57, 64);
    margin: 0px;
}
/*Comienzo del header*/

.header-index {
    background-color: rgb(40, 46, 51);
    padding: 15px;
  
}

.menu-index {
   display: flex;
   height: 100px;
   width: 100%;
   margin: 0px;

}

.ul-header-index {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;

}

 .a-header-index, .li-header-index{
    text-decoration: none;
    color: white;
    font-family: 'Urbanist', sans-serif;
    list-style: none;
    margin: 50px;
    text-transform: uppercase;

   

}

.section-header-index {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 250px;


}


.nav-logo img {
max-height: 100px;
max-width: 200px;
margin: left;


}



/*Comienza el main*/

.h2-proximamente {
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.h2-titulos {
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 30px;
    color: rgb(246, 248, 241);
    margin-left: 15px;
    margin-bottom: 0px;
    background-color: rgb(40, 46, 51);

    
}

.portadas-generos{
    width: 1300px;
    height: 500px;
    display:block;
    margin:auto;

}

.listados {
    display: flex inline;
    padding: 16px;
    margin: 30px;
}

.portadas{
width: 150px;
height: 200px;
}
.portadas-drama{
    height: 300px;
    width: 200px;

}

.h1-generos {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
    

.titulos-peliculas {
    font-family: 'Urbanist', sans-serif;
    color: white;
}
.a-titulo {
    text-decoration: none;
    color: white;
}

.generos-texto {
    font-family: 'Urbanist', sans-serif;
    color: white;
}


.estreno-texto {
    font-family: 'Urbanist', sans-serif;
    color: white;
}

.lista-cartelera {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.a-generos {
    text-decoration: none;
    color: white;
}

.slider{
   width: 100%;
    margin: auto;
    overflow: hidden;

}

.slider ul {
    padding: 0;
    display: flex;
   width: 400%;
    animation: proximas 15s infinite alternate linear;

}
.slider li {
    list-style: none;
   width: 100%;
}

.slider img {
   width: 100%;
    height: 400px;
}
@keyframes proximas {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* comienza el footer */

.footer-index {
    background-color: rgb(40, 46, 51);
    padding: 15px;
    position: relative;
}

.ul-footer {
    padding-left: 0px;
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Urbanist', sans-serif;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 1489px;
    align-items: center;
    
  
}

/* comienzo del css de detail-movie */



.body-detail-movie {
    background-color: rgb(49, 57, 64);
    margin: 0px;
    font-family: 'Urbanist', sans-serif;
    color: white;
}
.h1-detail-movie {
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.justicia-implacable {
    margin-left: 20px;
    background-color: rgb(40, 46, 51);

}

.section-detail-movie {
    display: flex;
    flex-direction: row;
    margin: 30px 40px 50px 40px;
    width: 60%;
}

.justicia-implacable {
    font-weight: lighter;
}

.clase-texto-detail-movie{
    font-weight: 80;
    color: white;
}

.a-li-detail-movie {
    font-weight: 80;
    color: white;
    text-decoration: none;
    list-style: none;
    
}


/* comienza el css de detail serie */

.body-detail-serie {
    background-color: rgb(49, 57, 64);
    margin: 0px;;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

.section-detail-serie {
    display: flex;
    flex-direction: row;
    margin: 30px 40px 50px 40px;
    width: 60%;
}

.h1-detail-serie {
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.la-casa-de-papel {
    font-weight: lighter;
    margin-left: 20px;
    background-color: rgb(40, 46, 51);
}

.clase-texto-detail-serie, .a-li-detail-serie {
    font-weight: 80;
    color: white;
    text-decoration:none ;
}




